* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


body, html {
    background-color: #0c0c0c;
    height: 100%;
}

.Titre {
    font-size: 30px;
    color: white;
}

.Page{
    background-color: #252529;
    color: white;
    padding: 40px 20px;
    text-align: center;    
}

@media screen and (max-width: 1024px) {
    .Page {
        padding: 20px 10px;
    }

    .Page .Titre {
        padding-top: 10px;
        font-size: 2.5rem; /* Réduction de la taille de la police */
    }
}

@media screen and (max-width: 768px) {
    .Page {
        padding-top: 10px;
        padding: 10px 5px;
    }

    .Page .Titre {
        padding-top: 10px;
        font-size: 1.6rem; /* Réduction de la taille de la police pour petits écrans */
    }
}

.btn-annuler{
    text-decoration: none !important;
    margin-left: 20px;
    color: white;
    cursor: pointer;
    padding: 0;
    border: transparent;
    background-color: transparent;
}

.btn-annuler:hover{
    color: gray;
}


/* /////////////////////////////// ACCUEIL TOP //////////////////////////////////////////////// */

.accueil-top {
    width: 100%;
    text-align: center;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(40%);
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    color: #fff;
}

.content img {
    animation: rotation 5s linear;
    height: 10vh;
    width: auto;
    margin-bottom: 20px;
}

@keyframes rotation {
    100% {
        transform: rotate3d(1, 2, -1, 360deg);
    }
}

.content p {
    margin: 20px 0;
}

.title {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Augmente l'ombre du texte */
    font-size: 3vw; /* Augmente la taille du titre */
    font-weight: bold;
    margin-bottom: 1em;
    animation: fadeIn 2s ease-in; /* Animation d'apparition */
}

.btn-rdv {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid white;
    font-size: 1.5vw; /* Augmente la taille du bouton */
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-rdv:hover {
    transform: scale(1.05);
    background-color: rgba(50, 211, 203, 0.97);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    .accueil-top {
        height: 100vh;
    }

    .content {
        max-width: 90%;
        padding: 10px;
    }

    .content img {
        height: 10vh;
    }

    .content p {
        margin: 10px 0;
    }

    .title {
        font-size: 5vw;
    }

    .btn-rdv {
        padding: 5px 10px;
        font-size: 3vw;
    }
}



/* /////////////////////////////// ACCUEIL PRESENTATION //////////////////////////////////////////////// */
/* Accueil Présentation */

.accueil-presentation {
    height: auto;

    padding: 40px 20px 50px;
    text-align: center;
    border-radius: 15px; /* Ajoute des coins arrondis */
    max-width: 1000px; /* Limite la largeur maximale du conteneur */
    margin: 0 auto; /* Centre le conteneur */
    
}

.texte-presentation {

    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px; /* Ajoute des coins arrondis au fond du texte */
}

.texte-presentation h2 {
    font-size: 2.5rem; /* Augmente la taille du titre */
    margin-bottom: 20px;
    
}

.texte-presentation p {
    
    font-size: 1.2rem;
    line-height: 1.8; /* Augmente l'espacement des lignes pour une meilleure lisibilité */
    
    margin-bottom: 20px; /* Ajoute de l'espace entre les paragraphes */
}

.devanture {

    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .accueil-presentation {
        padding: 40px 20px;
    }

    .accueil-presentation figure {
        margin-bottom: 20px;
    }

    .texte-presentation h2 {
        font-size: 1.8rem;
    }

    .texte-presentation p {
        font-size: 1rem;
    }

    .devanture {
        width: 90%;
        max-width: none;
    }
}




/* /////////////////////////////// LIST SERVICES //////////////////////////////////////////////// */

.gradientAccueil, .gradientServices, .gradientInstagram {
    background: linear-gradient(180deg, rgba(127, 50, 250, 0.5), rgba(25, 25, 29, 1));
    height: 20px; /* Ajuster la hauteur si nécessaire */
    width: 100%;
}

.gradientAccueil {
    margin-top: -10px; /* a ajuster  pour superposer correctement */
}

.gradientServices {
    margin-top: -10px; 
}

.gradientInstagram {
    margin-top: -10px; 
}


.services{
    background-color: #1A1A1D;
} 

.services img {
    width: 100%;
    height: 100%;
}
.services-title {
    font-size: 2rem;
    padding-top: 20px;
    margin-bottom: 20px;
}

.list-services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 20px;
}

.list-services figure {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.list-services figure:hover {
    transform: scale(1.05);
}

.list-services img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.list-services figure:hover img {
    transform: scale(1.1);
}

.image-overlay {
    border-radius: 10px;
    border: solid 1px #39D4FF;;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252529;
    transition: opacity 0.3s ease;
}

.list-services figure:hover .image-overlay {
    opacity: 0;
}

.overlay-text {
    color: #39D4FF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.overlay-text i {
    margin-left: 10px;
}

.service-lien {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.service-lien::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: opacity 0.3s ease;
}



/* Responsive Styles */
@media screen and (max-width: 768px) {
    .services-title {
        font-size: 1.5rem; 
    }

    .list-services figure {
        width: 150px;
        height: 150px;
    }

    .overlay-text {
        font-size: 0.9rem;
    }
}
/* //////////////////////////////INSTAGRAM //////////////////////////// */


.instagram {
    background-color: #252529;
    padding: 30px 0;
    text-align: center;
}

.instagram-contenu {
    max-width: 800px;
    margin: 0 auto;
}

.instagram h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.instagram p {
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.instagram-lien {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #7F32FA;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.instagram-lien:hover {
    color : white;
    text-decoration: none;
    background-color: #39D4FF;
}

.instagram .logo {
    padding: 10px;
    margin: 0 auto;
    max-width: 150px;
}

.instagram .logo img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .instagram h2 {
        font-size: 1.3rem;
    }

    .instagram p {
        font-size: 1rem;
    }

    .instagram .logo img {
        width: 100px;
    }

    .instagram-lien {
        font-size: 0.9rem;
    }
}

/* //////////////////////////////SWIPPER //////////////////////////// */


.swiper-container {
    background-color: #252529;

    width: 100%; /* Largeur du slider (par exemple, 80% de la largeur du conteneur parent) */
    overflow: hidden; /* Masquer le débordement du contenu */
    position: relative; /* Position relative pour les éléments enfants positionnés absolument */
  }
  
  /* Styles pour chaque diapositive dans le slider */
  .swiper-slide {
    height: auto;
    background-color: #252529;
    width: 33.33%; /* Largeur de chaque diapositive (1/3 de la largeur du conteneur) */
    display: inline-block; /* Affichage en ligne */
    box-sizing: border-box; /* La largeur inclut le padding et la bordure */
    padding: 5px; /* Espacement intérieur autour de chaque diapositive */
  }
  
 /* Styles pour les images à l'intérieur des diapositives */
.swiper-slide img {
    width: 100%;
    height: 250px; /* Fixer la hauteur pour uniformiser les images */
    object-fit: cover;/* Hauteur automatique pour conserver le ratio */
    border-radius: 10px; /* Coins arrondis pour les images */
    transition: transform 0.3s ease; /* Ajouter une transition à la transformation */
}

/* Au survol, agrandir l'image */
.swiper-slide img:hover {
    transform: scale(1.1);
}
  
  /* Styles pour les boutons de navigation (précédent/suivant) */
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute; /* Position absolue par rapport au conteneur du slider */
    top: 50%; /* Position verticale à 50% du conteneur */
    transform: translateY(-50%); /* Déplacement vers le haut de moitié de sa propre hauteur */
    width: 40px; /* Largeur des boutons */
    height: 40px; /* Hauteur des boutons */
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    color: white; /* Couleur du texte */
    font-size: 24px; /* Taille de police */
    text-align: center; /* Centrage du texte */
    line-height: 40px; /* Hauteur de ligne égale à la hauteur du bouton */
    cursor: pointer; /* Curseur de la souris en pointeur */
    z-index: 10; /* Index de positionnement */
  }
  
  /* Styles pour le bouton suivant */
  .swiper-button-next {
    right: 0; /* Position à droite du conteneur du slider */
  }
  
  /* Styles pour le bouton précédent */
  .swiper-button-prev {
    left: 0; /* Position à gauche du conteneur du slider */
  }
  
  /* Styles pour l'effet de survol des boutons de navigation */
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: rgba(51, 51, 51, 1); /* Couleur de fond au survol */
  }
  
  @media screen and (max-width: 768px) {
    .swiper-slide {
        width: 100%;
    }

    .swiper-container {
        width: 100%;
    }
}




.newsletter-container {
    background-color: #252529;
    padding: 40px 20px;
    text-align: center;
}


  .newsletter {
    text-align: center;
    padding: 20px;
    background-color: #252529;
    margin-top: 30px;
}

.newsletter h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.subscribe-form .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-form input[type="email"] {
    width: 250px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.subscribe-form button {
    padding: 10px 20px;
    background-color: #5f5f5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe-form button:hover {
    background-color: #39D4FF;;
}


@media screen and (max-width: 768px) {

.newsletter h2 {
    font-size: 20px;
}

.newsletter input[type="email"] {
    width: 200px;
    padding: 8px;
}

.newsletter button {
    padding: 8px 16px;
    font-size: 0.9rem;
}

.message-list {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
}

.message-detail {
    width: 100%;
    padding: 8px;
}

.inbox-container {
    flex-direction: column;
}
}










/* ///////////////////////////HEADER //////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////// */

header {
    
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
    background: transparent;
}

.header .bureau {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.header .nav_bureau_menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .nav_bureau_menu li {
    margin-right: 15px;
}

.header .nav_bureau_menu li a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.header .nav_bureau_profil {
    position: relative;
}

.header .profil_button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff;
}

header.header figure a img {
    
    margin-left:15px;
    margin-top:15px;

    max-height: 50px;
}
@media (max-width: 768px) {

    header.header figure a img {
        height: 10vh;
    }}

/* ///////////////////////////HEADER MOBILE//////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////// */

.header_mobile {
    margin-top: 15px;
    margin-right: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7f32facb;
    cursor: pointer;
    transition: 0.4s transform linear;
    z-index: 2000;
}

.header_mobile:hover {
    transform: rotate(10deg);
}

.header_mobile svg {
    margin-left: 5px;
    margin-top: 5px;
    stroke: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////// */

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1500;
}

.mobile-overlay.active {
    display: block;
}

.nav_mobile {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    width: 300px; /* Adjusted width for better fit */
    height: 100vh; /* Full viewport height */
    background-color: #0c0c0c;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.4s transform cubic-bezier(0.43, 0.73, 0, 0.98);
}

.nav_mobile.active {
    transform: translateX(0); 
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  NAV MOBILE CLOSE /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.nav_mobile_close {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7f32facb;
    cursor: pointer;
    transition: 0.4s transform linear;
    position: absolute;
    top: 45px;
    right: 25px;
}

.nav_mobile_close:hover {
    transform: rotate(10deg);
}

.nav_mobile_close svg {
    stroke: #fff;
    width: 20px;
    height: 20px;
    
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  NAV MOBILE PROFIL /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.nav_mobile_profil {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #7f32facb;
    padding-bottom: 5px;
    padding-top: 80px;
    color: #ffffff;
}

.nav_mobile_profil a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;

}

.nav_mobile_profil a:hover {
    text-decoration: none;
    color: #7f32fa;

}

/* Responsive l'equivalent d'une tablette en mode paysage */
@media (max-width: 1024px) {

    .header {
        height: 12vh;
        position: relative;
        background: black;
    }
    .header .header_mobile {
        display: block;
    }

    .header .bureau {
        display: none;
    }

    .nav_mobile {
        display: block;
    }
    .header img {
        margin: 0;
        padding: 0;
    height: 10vh;
    }
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  NAV MOBILE MENU /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.nav_mobile_menu {
    padding: 0;
    list-style: none;
    margin-top: 32px;
    margin-bottom: 32px;
}

.nav_mobile_menu li {
    position: relative;   
    margin-bottom: 24px;
}

.nav_mobile_menu li:last-of-type {
    margin-bottom: initial;
}

.nav_mobile_menu li a {
    font-family: 'Montserrat', sans-serif;
    
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    
    font-size: 18px;
    position: relative; 
}

.nav_mobile_menu li a:after {

    content: '';
    height: 2px;
    width: 0px;
    position: absolute;
    bottom: -6px;
    right: 0;
    transition: 0.3s width ease-in-out;
    background-color: #7F32FA;

}

.nav_mobile_menu li a:hover:after {
    
    width: 100%;
    left: 0;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// Main Container /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Styles par défaut */
.main-container {
    width: 100%;
    background-color: #1A1A1D;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    color: #EAEAEA;;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// HEADER /////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


header.header figure a img {
    
    margin-left:15px;
    margin-top:15px;

    max-height: 50px;
}
@media (max-width: 768px) {

    header.header figure a img {
        height: 10vh;
       
}
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  NAV MOBILE SOCIAL /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.nav_mobile_social {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.nav_mobile_social li {
    margin: 0px 8px;
}

.nav_mobile_social li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 12px;
    opacity: 0.6;
    text-transform: uppercase;
    font-family: "Arial";
    transition: 0.3s opacity ease-in;
}

.nav_mobile_social li a:hover {
    opacity: 1;
    color: #7F32FA;
}

/* Icon Styles */
.nav_mobile_menu a i,
.nav_mobile_social a i {
    margin-right: 10px; 
    font-size: 15px;
    color: #ffffff;
}

.nav_mobile_menu a:hover i,
.nav_mobile_social a:hover i {
    color: #7f32facb;
}

/* .nav_mobile_menu a:hover {
    color: #7f32facb;
} */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  NAV BUREAU MENU /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.nav_bureau_menu li a:hover {
    color: #7f32fa; /* Changement de couleur au survol */
}

/* Responsive Header */
@media screen and (max-width: 768px) {
    .bureau {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .header_mobile {
        display: none;
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  NAV BUREAU PROFIL /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

button.profil_button {
background-color: rgb(0, 165, 194);
margin-bottom: 5px;

}

.nav_bureau_profil {
    display: flex;
    justify-content: end;
}

.profil_dropdown {
    position: relative;
    display: inline-block;
}

.profil_button {
    
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profil_button span {
  color:   rgb(24, 167, 192) ;
   
    margin-right: 5px;
}



.profil_content {
    display: none;
    position: absolute;
    background-color: #2a2b2e;
    min-width: 140px;
    z-index: 1;
}

.profil_content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profil_content a:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(0, 165, 194);
}

.profil_dropdown:hover .profil_content {
    display: block;
}
 */


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  PAGE NOS SERVICE /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

div.page-service{
margin-top: 20px;}
.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.service-item {
    max-width: 400px; /* Largeur maximale pour chaque carte */
    width: 100%;
    background-color: #1A1A1D;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.service-content {
    text-align: left;
}

.service-img {
    margin-bottom: 20px;
    text-align: center;
}

.service-img img {
    width: 100%;
    height: auto;
    max-height: 300px; /* Limiter la hauteur de l'image */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.service-item h2 {

    text-align: center;
    font-size: 20px; /* Taille de base */
    font-weight: bold; /* Gras pour plus de poids visuel */
    margin-bottom: 10px;
    letter-spacing: 1px; /* Espacement entre les lettres pour une meilleure lisibilité */
}

.service-item p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.service-button {
    text-align: center;
    display: block;
    padding: 10px 10px;
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
    background-color: #252529;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.service-button:hover {
    color : white;
    text-decoration: none;
    background-color: #7f32fa60;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.join-container {
    line-height: 1.6;
}

.feature {
    margin-bottom: 30px;
}

.feature i {
    margin-right: 10px;
    color: #007bff; /* Couleur de l'icône */
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 20px;
}


a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* /////////////////////////////STYLE LOGINPAGE////////////////////////////////
///////////////////////////////////////////////////////////////////// */


.loginPage {
    background-color: #222;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}

.logoContainer {
    margin-bottom: 20px; /* Espacement en bas du logo */
}

.logo {
    width: 100px; /* Taille du logo */
    height: auto; /* Hauteur automatique pour conserver les proportions */
}

form {
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 200px; /* Largeur des champs de saisie */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}



a {
    color: #fff;
    text-decoration: none;
}

/* /////////////////////////////REGISTER PAGE ////////////////////////////////
///////////////////////////////////////////////////////////////////// */

.registerPage {
    background-color: #222;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}

.logoContainer {
    margin-bottom: 20px; /* Espacement en bas du logo */
}

.logo {
    width: 100px; /* Taille du logo */
    height: auto; /* Hauteur automatique pour conserver les proportions */
}

h1 {
    margin-bottom: 20px; /* Espacement en bas du titre */
}

form {
    margin-bottom: 20px; /* Espacement en bas du formulaire */
}

label {
    display: block; /* Affichage en bloc pour les libellés */
    margin-bottom: 5px; /* Espacement en bas des libellés */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 200px; /* Largeur des champs de saisie */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

/* /////////////////////////////NEWS PAGE ////////////////////////////////
///////////////////////////////////////////////////////////////////// */

.page-header p {

    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.list-news {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px;
    margin: 20px auto; 
    border-radius: 8px; 
    justify-content: center; 
}

.news {
    background-color: #1A1A1D;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;  
    width: 450px; 
}

.title-news {
    font-size: 16px; /* Taille de police légèrement réduite */
    margin-bottom: 10px;
    color: #ffffff;
}

.photo-news {
    width: 100%;
    max-height: 300px; /* Limit height */
    object-fit: cover; /* Cover entire container */
    border-radius: 8px;
    margin-bottom: 10px;
}

.text-news {
    font-size: 14px; /* Taille de police légèrement réduite */
    line-height: 1.5;
    color: #cccccc;
    margin-bottom: 10px;
    text-align: justify;
}

.date-news {
    font-size: 12px; /* Taille de police réduite pour la date */
    color: #999999;
    margin-top: auto; /* Align date to bottom */
}

/* Responsive design: Stack news items in column on smaller screens */
@media (max-width: 768px) {
    .list-news {
        flex-direction: column; /* Stack items in column */
        align-items: center; /* Center items horizontally */
    }

    .news {
        width: 90%; /* Make news items take more width on smaller screens */
    }
}

/* /////////////////////////////join US////////////////////////////////
///////////////////////////////////////////////////////////////////// */
#barber {
    background-color: #252529;
}

.container.join-us {
    width: 100%;
    min-height: 100vh; /* Assure que la section prend toute la hauteur de la fenêtre */
    color: white;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.join-intro {
    text-align: center;
    margin-bottom: 10px;
}

.join-paragraph {
    color: #f5f5f5;
    margin-bottom: 10px;
    font-size: 1.2rem; /* Taille de police initiale pour grands écrans */
}

.join-subtitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2rem; /* Taille de police initiale pour grands écrans */
}

.reasons-list, .profile-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.reason-item, .profile-item {
    background-color: #1A1A1D;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.join-link {
    color: #7f32fa;
    text-decoration: none;
}

.join-link:hover {
    text-decoration: underline;
}

/* Responsive styles for tablets and smaller devices */
@media screen and (max-width: 1024px) {
    .container.join-us {
        padding: 20px 10px;
    }

    .join-title {
        font-size: 2.5rem; /* Réduction de la taille de la police */
    }

    .join-subtitle {
        font-size: 1.75rem; /* Réduction de la taille de la police */
    }

    .join-paragraph {
        font-size: 1.1rem; /* Réduction de la taille de la police */
    }

    .reason-item, .profile-item {
        font-size: 1rem; /* Réduction de la taille de la police */
    }
}

@media screen and (max-width: 768px) {
    .container.join-us {
        padding: 20px 5px;
    }

    .join-title {
        font-size: 2rem; /* Réduction de la taille de la police pour petits écrans */
    }

    .join-subtitle {
        font-size: 1.5rem; /* Réduction de la taille de la police pour petits écrans */
    }

    .join-paragraph {
        font-size: 1rem; /* Réduction de la taille de la police pour petits écrans */
    }

    .reason-item, .profile-item {
        font-size: 0.9rem; /* Réduction de la taille de la police pour petits écrans */
    }
}




/* /////////////////////////////footer ////////////////////////////////
///////////////////////////////////////////////////////////////////// */


/* Footer */
footer {
    background-color:#0c0c0c;
    color: #EAEAEA;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-container > div {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}



.footer-container p {
    margin: 5px 0;
}

.footer-container a {
    color: #39D4FF;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

.legal {
    margin-top: 20px;
}



.legal a:hover {
    text-decoration: underline;
}

/* /////////////////////////////RESERVATIONS ////////////////////////////////
///////////////////////////////////////////////////////////////////// */

/* Category Styles */
.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.category-item {
    background-color: #1A1A1D;
    color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    flex: 1 1 calc(33.333% - 20px); /* Trois éléments par ligne */
    max-width: calc(33.333% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Ajout de la transition pour la couleur */
    margin: 10px; /* Marge pour un meilleur espacement */
}

.category-item:hover {
    background-color: #39D4FF;
    color: #0a0000; /* Couleur du texte au survol */
    transform: scale(1.05);
    text-decoration: none; /* Suppression du soulignage au survol */
}

.category-item:hover .category-title,
.category-item:hover .category-description {
    color: #0a0000; /* Couleur du texte des éléments enfants au survol */
}

.category-title {
    margin-bottom: 10px;
}

.category-description {
    color: #cccccc; /* Couleur initiale du texte */
}





/* Responsive Styles */
@media screen and (max-width: 1024px) {
    .category-item {
        flex: 1 1 calc(50% - 20px); /* Deux éléments par ligne */
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .category-item {
        flex: 1 1 calc(50% - 20px); /* Deux éléments par ligne */
        max-width: calc(50% - 20px);
        
    }

    .category-title {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    .category-item {
        flex: 1 1 calc(100% - 20px); /* Un élément par ligne */
        max-width: calc(100% - 20px);
    }
}


.listServices {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 20px;
}


.service-item {
    background-color: #1A1A1D;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.btn-reservation {
    font-size: 15px;
    background-color: #39D4FF;
    color: #1A1A1D;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.btn-reservation:hover {
    background-color: #1A8BB3;
}




/* Responsive Styles */

/* Media query pour les écrans de 768 pixels de large ou moins */
@media (max-width: 768px) {
   
    .listServices {
        flex-direction: column; /* Change la direction du flex pour être en colonne */
        align-items: center; /* Centre les élements*/
    }   
    H2.service-title {
        font-size: 1em; /* Reduit la taille de la police */
    }
    p.service-duration {
        font-size: 1em; /* Reduit la taille de la police */
    }
}



    .btn-reservation {
        padding: 8px 16px;
    }


@media (max-width: 480px) {
    .service-item {
        padding: 10px;
    }

    H2.service-title, .service-duration {
        font-size: 1em;
    }

    .btn-reservation {
        padding: 6px 12px;
    }

}


.heure-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.colonne-date {
    flex: 1 1 calc(20% - 20px);
    background-color: #252529;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 10px;
}

.cellule-heure {
    background-color: #1A1A1D;
    color: #ffffff;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cellule-heure:hover {
    background-color: #39D4FF;
}

.cellule-heure.selectionnee {
    background-color: #39D4FF;
    color: #1A1A1D;
}

.recapitulatif {
    background-color: #1A1A1D;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
}

form {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.warning-message {
    font-size: 10px;
    color: rgb(145, 145, 145);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.btn-reservation-planning {
    background-color: #39D4FF;
    color: #1A1A1D;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.boutons-planning{
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-reservation-planning:hover {
    background-color: #1A8BB3;
}


@media screen and (max-width: 1024px) {
    .colonne-date {
        flex: 1 1 calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .colonne-date {
        flex: 1 1 100%;
    }
}

@media screen and (max-width: 480px) {
    .colonne-date {
        padding: 10px;
    }

    .cellule-heure {
        padding: 8px;
    }

    .btn-reservation-planning {
        padding: 8px 16px;
    }

    .date-dispo{
        font-size: 1em;
    }
    
}


.page-contact p,
.page-contact ul {
    text-align: center;
    color: #ffffff;
}

.page-contact ul {
    list-style-type: none;
    padding: 0;
}

.page-contact ul li {
    margin: 10px 0;
}

/* Form Styles */
form.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-submit {
    background-color: #39D4FF;
    color: #1A1A1D;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    text-align: center;

}

.btn-submit:hover {
    background-color: #1A8BB3;
}

.page-contact p {
    text-align: center;
    color: #c0c0c0;
    margin-top: 20px;
}


@media screen and (max-width: 768px) {
    .Page {
        padding: 10px;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        padding: 8px;
    }

    .btn-submit {
        padding: 8px 16px;
    }
}

@media screen and (max-width: 480px) {
    .form-group input,
    .form-group select,
    .form-group textarea {
        padding: 6px;
    }

    .btn-submit {
        padding: 6px 12px;
    }
}


/* ///////////////////////////// Tableau de bord ////////////////////////////////
///////////////////////////////////////////////////////////////////// */

.dashboard-container {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Ajouter un peu de padding pour l'esthétique */
}


.dashboard-container h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    border-bottom: 2px solid #7F32FA;
    padding-bottom: 10px;
}

.dashboard-container a {
    display: block;
    margin: 10px auto; /* Centrer horizontalement avec auto */
    padding: 10px 15px;
    background-color: #7F32FA;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
    max-width: 300px; /* Définir une largeur maximale */
}

.dashboard-container a:hover {
    background-color: #711bfc;
}

@media (max-width: 768px) {
    .dashboard-container a {
        max-width: 100%; /* Utiliser la pleine largeur sur les appareils mobiles */
    }
}




.container-planning {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px auto; /* Centrer l'élément horizontalement avec une marge autour */
    width: 70%; /* Largeur fixe pour limiter la largeur des éléments */
    max-width: 500px; /* Largeur maximale pour s'adapter aux écrans plus larges */
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center; /* Centrer le texte à l'intérieur de chaque élément */
}

.list-group-item:hover {
    color: white;
    background-color: #711bfc;
}

.text-center {
    text-align: center;
    color: #888;
    margin-top: 20px;
}





/* /////////////////////////////planning par jour ////////////////////////////////
///////////////////////////////////////////////////////////////////// */

.container-planning-jour {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles pour la liste des réservations */
.list-group-by-date {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* espace entre les éléments */
}

.list-item-by-date {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 30px); /* 3 éléments par ligne avec espace */
    padding: 15px;
    margin: 10px;
}

.list-item-header {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #711bfc;
}

.list-item-body {
    font-size: 0.9em;
}

.list-item-title {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #333;
}

.list-item-text {
    color: black;
    line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .list-item-by-date {
        flex: 1 1 calc(50% - 30px); /* 2 éléments par ligne */
    }
}

@media (max-width: 768px) {
    .list-item-by-date {
        flex: 1 1 100%; /* 1 élément par ligne */
    }
}








.Messagerie {
    padding-top: 40px;
}

/* Container principal */
.inbox-container-message { 
    display: flex;
     width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

/* Liste des messages */
.message-list {
    width: 100%;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.message-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.message-item {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    gap: 10px;
    flex-direction: column;
}

.message-item input[type="checkbox"] {
    margin-right: 10px;
}

.message-item div {
    flex: 1;
}

.message-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message-item-category {
    font-weight: bold;
    color: #555;
}

.message-item-email {
    color: #888;
}

.message-item-date {
    color: #aaa;
    font-size: 0.9em;
}

.message-item-message {
    color: #333;
}

/* Détail du message */
.message-detail {
    width: 100%;
    padding: 20px;
    overflow-y: auto;
}

.message-detail h2 {
    margin-top: 0;
    color: #333;
}

.message-detail p {
    margin: 10px 0;
}

.message-detail strong {
    color: #555;
}

/* Bouton de suppression */
button[class="submit-message"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[class="submit-message"]:hover {
    background-color: #c9302c;
}

/* Responsive */
@media (max-width: 768px) {
    .message-item {
        align-items: flex-start;
    }

    .message-content {
        gap: 15px;
        font-size: 10px;
    }
    .message-detail H2{
        font-size: 15px;


    }
    .inbox-container-message {
        font-size: 10px;

        display: flex;
        flex-direction: row;       
    }
    button[type="submit-message"] {
       height: auto;
       width: 60%;
       font-size: 70%;

    }
    
}

.flash-message{color: white;}

.form-check-label {
    margin-left: 30px;
}

.table tbody tr td, 
    .table thead tr th {
        color: white; 
    }


    Page.page_profil {
        padding: 20px;
        margin: auto;
        max-width: 800px;
    }
    
    /* Sections spécifiques du profil */
    .Page.page_profil .nom,
    .Page.page_profil .email,
    .Page.page_profil .telephone,
    .Page.page_profil .dateInscription,
    .Page.page_profil .listeReservationClient {
        margin-bottom: 20px;
    }
    
    .Page.page_profil .nom strong,
    .Page.page_profil .email strong,
    .Page.page_profil .telephone strong,
    .Page.page_profil .dateInscription strong {
        margin-right: 10px;
    }
    
    /* Style des liens de modification */
    .Page.page_profil a,
    .page_edit_profile a {
        color: rgb(255, 255, 255); /* Couleur du lien */
        text-decoration: none;
    }
    
    .Page.page_profil a:hover,
    .page_edit_profile a:hover {
        text-decoration: underline;
    }
    
    /* Liste des réservations */
    .Page.page_profil .listeReservationClient ul {
        list-style-type: none;
        padding: 0;
    }
    
    .Page.page_profil .listeReservationClient li {
        margin-bottom: 10px;
    }
    
    /* Bouton d'annulation de réservation */
    .Page.page_profil .listeReservationClient button {
        background-color: #d9534f;
        color: #ffffff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 14px;
    }
    
    .Page.page_profil .listeReservationClient button:hover {
        background-color: #c9302c;
    }
    
    /* Page de modification du profil */
    .page_edit_profile {
        padding: 20px;
        margin: auto;
        max-width: 800px;
    }
    
    .page_edit_profile h2 {
        margin-bottom: 20px;
    }
    
    .page_edit_profile .form-group {
        margin-bottom: 15px;
    }
    
    .page_edit_profile label {
        display: block;
        margin-bottom: 5px;
    }
    
    .page_edit_profile input[type="text"],
    .page_edit_profile input[type="email"] {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    

.btn-simple{
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: white;
    padding: 5px;
    background-color: transparent;
}
.btn-simple:hover{
    
    color: red;
}
a.btn-simple-modifier{
    list-style: none;
   text-decoration: none;
   color: #39D4FF;
}

a.btn-simple-modifier:hover{
    text-decoration: none;
    cursor: pointer;
    color: rgb(45, 213, 255);
}



.container-create-news {
    display: flex;
    justify-content: center; /* Centre le formulaire horizontalement */
    align-items: center; /* Centre le formulaire verticalement */
    width: 100%;
    height: 100%;
    padding: 20px;
}

/* Styles pour le conteneur interne du formulaire */
.create-news {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments du formulaire */
    width: 100%;
    max-width: 600px; /* Limite la largeur maximale du formulaire */
    border-radius: 8px; /* Coins arrondis pour le formulaire */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère autour du formulaire */
    padding: 20px; /* Padding interne du formulaire */
}


/* Style pour le formulaire de création d'actualité */
.create-news form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le formulaire */
    width: 100%;
}

/* Style pour les groupes de formulaire */
.form-group-news{
    width: 100%;
    margin-bottom: 15px;
}
/* Style des labels */


/* Style pour les champs de formulaire */
.form-group-news input,
.form-group-news textarea {
    width: 100%; /* Prend toute la largeur disponible */
    max-width: 100%; /* Limite la largeur maximale des champs */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
    font-size: 16px; /* Taille de police pour le texte dans les champs */
}

.form-group-news label,
.form-group-news textarea {
color: white;
}


/* Styles responsive pour les écrans plus petits */
@media screen and (max-width: 768px) {
    .container-create-news {
        padding: 10px;
    }

    .form-group-news input,
    .form-group-news textarea {
        padding: 8px;
        width: 80%; /* Augmente la largeur des champs pour les écrans plus petits */
    }

    
}

@media screen and (max-width: 480px) {
    .form-group-news input,
    .form-group-news textarea {
        padding: 6px;
        width: 90%; /* Augmente encore la largeur des champs pour les très petits écrans */
    }

    .btn-reservation {
        padding: 6px 12px;
        width: 90%; /* Augmente encore la largeur du bouton pour les très petits écrans */
    }
}



.listeReservationClient {
    max-width: 800px; /* Limite la largeur du conteneur */
    margin: 20px auto; /* Centre le conteneur horizontalement avec une marge */
    padding: 20px;
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour l'effet de profondeur */
}

/* Style du titre de la section */
.listeReservationClient h3 {
    color: white;
    margin-bottom: 15px; /* Espace sous le titre */
    font-size: 24px; /* Taille du texte du titre */
    text-align: center; /* Centre le titre */
}

/* Style pour les éléments de la liste des réservations */
.listeReservationClient ul {
    list-style-type: none; /* Supprime les puces des éléments de liste */
    padding: 0; /* Supprime le padding par défaut */
    margin: 0; /* Supprime la marge par défaut */
}

.listeReservationClient li {
    background-color: #fff; /* Fond blanc pour chaque élément */
    border: 1px solid #ddd; /* Bordure légère */
    border-radius: 4px; /* Coins arrondis */
    padding: 15px; /* Espacement interne */
    margin-bottom: 10px; /* Espace entre les éléments */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Ombre légère */
}

/* Style pour les labels et valeurs dans les éléments de liste */
.listeReservationClient strong {
    color: #555; /* Couleur du texte des labels */
}

.listeReservationClient form {
    display: inline; /* Affiche le formulaire en ligne avec l'élément précédent */
}

.listeReservationClient button {
    background-color: #711bfc; /* Couleur de fond rouge pour le bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none; /* Supprime les bordures par défaut */
    padding: 8px 15px; /* Espacement interne du bouton */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    font-size: 14px; /* Taille de police du texte du bouton */
    transition: background-color 0.3s ease; /* Effet de transition pour le changement de couleur */
}



/* Style pour les messages quand aucune réservation n'est disponible */
.listeReservationClient p {
    text-align: center; /* Centre le texte */
    color: #777; /* Couleur du texte */
    font-size: 16px; /* Taille de police du texte */
}