/* /////////////////////////////// ACCUEIL TOP //////////////////////////////////////////////// */


.accueil-top {
    width: 100%;
    text-align: center; /* Centrer le contenu horizontalement */
    padding: 50px 20px; /* Réduire l'espace autour du contenu */
    background: linear-gradient(to bottom ,#f45dffae, #4a148cd6); /* Dégradé de violet */
    color: white; /* Texte blanc */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Ombre portée */
    height: 25vh; /* Réduire la hauteur de la section */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: max(2.5vw, 20px); /* Taille de police en vw avec une taille minimale de 20px */
    font-weight: bold; /* Texte en gras */
    margin-bottom: 1em; /* Espacement en dessous du titre en em */
}

.btn-rdv {

    font-family: 'Montserrat', sans-serif;
    padding: max(0.1em, 2px) max(0.8em, 2px); /* Ajouter de l'espace autour du bouton avec une taille minimale */

    font-size: max(1.1vw, 14px); /* Taille de police du bouton avec une taille minimale */
    background-color: rgb(255, 255, 255); /* Fond blanc */
    color: #000000; /* Texte violet */
    border: none; /* Supprimer la bordure */
    border-radius: 25px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointer */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Ajouter une transition au survol */
}


.btn-rdv:hover {
    background-color: #32d3cbf7; /* Fond blanc légèrement transparent au survol */
}

/* /////////////////////////////// ACCUEIL PRESENTATION //////////////////////////////////////////////// */


.accueil-presentation {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap;
}

.accueil-presentation figure {
    max-width: 50%;
    margin: 0;
    padding: 0;
    animation: fadeIn 2s ease-in-out;
}

.accueil-presentation img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.accueil-presentation img:hover {
    transform: scale(1.05);
}

.accueil-presentation .texte-presentation {
    font-size: 1.2rem;
    width: 45%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-left: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .main-container {
        padding: 0 20px;
    }

    .accueil-presentation {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .accueil-presentation figure,
    .accueil-presentation .texte-presentation {
        max-width: 100%;
        width: 100%;
    }

    .accueil-presentation figure {
        margin-bottom: 20px;
    }

    .accueil-presentation .texte-presentation {
        padding-left: 0;
        font-size: 1rem; /* Adjust text size */
    }

    .accueil-presentation h2 {
        font-size: 1.5rem; /* Adjust title size */
    }

    .accueil-presentation p {
        font-size: 0.9rem; /* Adjust paragraph text size */
    }
}

/* Animation Keyframes */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* /////////////////////////////// LIST SERVICES //////////////////////////////////////////////// */

.services-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.list-services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.list-services figure {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.list-services figure:hover {
    transform: scale(1.05);
}

.list-services img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.list-services figure:hover img {
    transform: scale(1.1);
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(66, 171, 179, 0.437);
    transition: opacity 0.3s ease;
}

.list-services figure:hover .image-overlay {
    opacity: 0;
}

.overlay-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.overlay-text i {
    margin-left: 10px;
}

.service-lien {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.service-lien::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(57, 212, 255, 0.847);
    z-index: 0;
    transition: opacity 0.3s ease;
}

.service-lien:hover::before {
    opacity: 0.1;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .main-container {
        padding: 0 20px;
    }

    .list-services {
        flex-direction: column;
        align-items: center;
    }

    .list-services figure {
        width: 80%;
        height: 100px;
        margin-bottom: 20px;
    }

    .overlay-text {
        font-size: 14px;
    }
}

/* //////////////////////////////INSTAGRAM //////////////////////////// */

.instagram {
    background-color: #222;
    padding: 20px 20px;
    text-align: center;
}

.instagram-contenu {
    max-width: 800px;
    margin: 0 auto;
}

.instagram h2 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.instagram p {
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 40px;
}

.instagram-lien {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #7f32fa; /* Couleur de fond */
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.instagram-lien:hover {
    background-color: rgba(57, 212, 255, 0.847); /* Fond légèrement plus sombre au survol */
}


/* //////////////////////////////SWIPPER //////////////////////////// */


.swiper-container {
 
    width: 80%; /* Largeur du slider (par exemple, 80% de la largeur du conteneur parent) */
    margin: 0 auto; /* Centrage horizontal */
    margin-top: 20px;
    overflow: hidden; /* Masquer le débordement du contenu */
    position: relative; /* Position relative pour les éléments enfants positionnés absolument */
  }
  
  /* Styles pour chaque diapositive dans le slider */
  .swiper-slide {
    width: 33.33%; /* Largeur de chaque diapositive (1/3 de la largeur du conteneur) */
    display: inline-block; /* Affichage en ligne */
    box-sizing: border-box; /* La largeur inclut le padding et la bordure */
    padding: 5px; /* Espacement intérieur autour de chaque diapositive */
  }
  
 /* Styles pour les images à l'intérieur des diapositives */
.swiper-slide img {
    width: 100%; /* Largeur maximale de l'image (remplit la diapositive) */
    height: auto; /* Hauteur automatique pour conserver le ratio */
    border-radius: 8px; /* Coins arrondis pour les images */
    transition: transform 0.3s ease; /* Ajouter une transition à la transformation */
}

/* Au survol, agrandir l'image */
.swiper-slide img:hover {
    transform: scale(1.2);
    border-radius: 8px; /* Agrandir l'image de 10% */
}
  
  /* Styles pour les boutons de navigation (précédent/suivant) */
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute; /* Position absolue par rapport au conteneur du slider */
    top: 50%; /* Position verticale à 50% du conteneur */
    transform: translateY(-50%); /* Déplacement vers le haut de moitié de sa propre hauteur */
    width: 40px; /* Largeur des boutons */
    height: 40px; /* Hauteur des boutons */
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    color: white; /* Couleur du texte */
    font-size: 24px; /* Taille de police */
    text-align: center; /* Centrage du texte */
    line-height: 40px; /* Hauteur de ligne égale à la hauteur du bouton */
    cursor: pointer; /* Curseur de la souris en pointeur */
    z-index: 10; /* Index de positionnement */
  }
  
  /* Styles pour le bouton suivant */
  .swiper-button-next {
    right: 0; /* Position à droite du conteneur du slider */
  }
  
  /* Styles pour le bouton précédent */
  .swiper-button-prev {
    left: 0; /* Position à gauche du conteneur du slider */
  }
  
  /* Styles pour l'effet de survol des boutons de navigation */
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Couleur de fond au survol */
  }
  


  
  .newsletter {
    text-align: center;
    padding: 20px;
    background-color: #44c3da;
    margin-top: 30px;
  }
  
  .newsletter h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .newsletter input[type="email"] {
    background-color: white;
    width: 250px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .newsletter button {
    padding: 10px 20px;
    background-color: #5f5f5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .newsletter button:hover {
    background-color: #0056b3;
  }
  

  .inbox-container {
    display: flex;
}


.message-list {
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}
.message-list ul {
    list-style: none;
    padding: 0;
}
.message-list li {
    padding: 10px;
    cursor: pointer;
}
.message-list li:hover {
    background-color: #f0f0f0;
}
.message-detail {
    width: 70%;
    padding: 10px;
}
