
/* Importer la police Montserrat depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Utiliser Montserrat pour le titre */



.accueil-top {
    text-align: center; /* Centrer le contenu horizontalement */
    padding: 50px 20px; /* Réduire l'espace autour du contenu */
    background: linear-gradient(to bottom, #9871d8, #4a148c); /* Dégradé de violet */
    color: white; /* Texte blanc */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Ombre portée */
    height: 50vh; /* Réduire la hauteur de la section */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: max(4vw, 20px); /* Taille de police en vw avec une taille minimale de 30px */
    font-weight: bold; /* Texte en gras */
    margin-bottom: 1em; /* Espacement en dessous du titre en em */
}

.btn-rdv {
    font-family: 'Montserrat', sans-serif;
    padding: max(0.8em, 10px) max(1.5em, 15px); /* Ajouter de l'espace autour du bouton avec une taille minimale */
    font-size: max(1.1vw, 14px); /* Taille de police du bouton avec une taille minimale */
    background-color: white; /* Fond blanc */
    color: #30aed4; /* Texte violet */
    border: none; /* Supprimer la bordure */
    border-radius: 25px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointer */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Ajouter une transition au survol */
}


.btn-rdv:hover {
    background-color: #ffffffcc; /* Fond blanc légèrement transparent au survol */
}



.accueil-presentation {
    background-color: #222; /* Couleur de fond */
    display: flex; /* Utilisation du modèle de boîte flexible */
    justify-content: space-between; /* Répartir l'espace entre les enfants */
    align-items: center; /* Centrer les enfants verticalement */
    padding: 40px; /* Espacement intérieur */
}

.accueil-presentation figure {
    max-width: 50%; /* Largeur maximale de l'image */
}

.accueil-presentation img {
    width: 100%; /* Ajuster la largeur de l'image à 100% du conteneur parent */
    height: auto; /* Hauteur automatique pour conserver les proportions */
}

.accueil-presentation .texte-presentation {
    font-size: 20px;
    width: 45%;
    font-family: Arial;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .accueil-presentation {
        flex-direction: column; /* Empiler les éléments en colonne */
        align-items: center; /* Centrer les éléments horizontalement */
        text-align: center; /* Centrer le texte */
        padding: 20px; /* Réduire l'espacement intérieur */
    }

    .accueil-presentation figure,
    .accueil-presentation .texte-presentation {
        max-width: 100%; /* Largeur maximale de 100% */
        width: 100%; /* Largeur de 100% */
    }

    .accueil-presentation figure {
        margin-bottom: 20px; /* Ajouter un espace entre l'image et le texte */
    }
}


/* /////////////////////////////// LIST SERVICES //////////////////////////////////////////////// */


.list-services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.list-services figure {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-services img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-text {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

.service-lien::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 45, 45, 0.7); /* Filtre rouge (70% d'opacité) */
    z-index: 0;
}

.service-lien:hover::before {
    opacity: 0.5; /* baisse opacité au survol */
}

/* //////////////////////////////INSTAGRAM //////////////////////////// */

.instagram {
    background-color: #222; /* Couleur de fond */
    padding: 40px 0; /* Espacement intérieur */
}

.instagram-contenu {
    max-width: 600px; /* Largeur maximale du contenu */
    margin: 0 auto; /* Centrer le contenu horizontalement */
    text-align: center; /* Centrer le texte */
}

.instagram-contenu h2 {
    font-size: 24px; /* Taille de police du titre */
    margin-bottom: 10px; /* Espacement en bas du titre */
}

.instagram-contennu p {
    font-size: 16px; /* Taille de police du paragraphe */
    margin-bottom: 20px; /* Espacement en bas du paragraphe */
}

.instagram-lien {
    display: inline-block; /* Afficher en tant que bloc */
    background-color: #405de6; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    border-radius: 5px; /* Coins arrondis */
    text-decoration: none; /* Supprimer soulignement */
    transition: background-color 0.3s ease; /* Animation sur le changement de couleur de fond */
}

.instagram-lien:hover {
    background-color: #3b5998; /* Couleur de fond au survol */
}

.instagram-lien i {
    margin-right: 5px; /* Espacement à droite de l'icône */
}


/* Styles pour le conteneur du slider */
.swiper-container {
    width: 80%; /* Largeur du slider (par exemple, 80% de la largeur du conteneur parent) */
    margin: 0 auto; /* Centrage horizontal */
    overflow: hidden; /* Masquer le débordement du contenu */
    position: relative; /* Position relative pour les éléments enfants positionnés absolument */
  }
  
  /* Styles pour chaque diapositive dans le slider */
  .swiper-slide {
    width: 33.33%; /* Largeur de chaque diapositive (1/3 de la largeur du conteneur) */
    display: inline-block; /* Affichage en ligne */
    box-sizing: border-box; /* La largeur inclut le padding et la bordure */
    padding: 5px; /* Espacement intérieur autour de chaque diapositive */
  }
  
  /* Styles pour les images à l'intérieur des diapositives */
  .swiper-slide img {
    width: 100%; /* Largeur maximale de l'image (remplit la diapositive) */
    height: auto; /* Hauteur automatique pour conserver le ratio */
    border-radius: 8px; /* Coins arrondis pour les images */
  }
  
  /* Styles pour les boutons de navigation (précédent/suivant) */
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute; /* Position absolue par rapport au conteneur du slider */
    top: 50%; /* Position verticale à 50% du conteneur */
    transform: translateY(-50%); /* Déplacement vers le haut de moitié de sa propre hauteur */
    width: 40px; /* Largeur des boutons */
    height: 40px; /* Hauteur des boutons */
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    color: white; /* Couleur du texte */
    font-size: 24px; /* Taille de police */
    text-align: center; /* Centrage du texte */
    line-height: 40px; /* Hauteur de ligne égale à la hauteur du bouton */
    cursor: pointer; /* Curseur de la souris en pointeur */
    z-index: 10; /* Index de positionnement */
  }
  
  /* Styles pour le bouton suivant */
  .swiper-button-next {
    right: 0; /* Position à droite du conteneur du slider */
  }
  
  /* Styles pour le bouton précédent */
  .swiper-button-prev {
    left: 0; /* Position à gauche du conteneur du slider */
  }
  
  /* Styles pour l'effet de survol des boutons de navigation */
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Couleur de fond au survol */
  }
  

  .newsletter {
    text-align: center;
    padding: 20px;
    background-color: #44c3da;
    margin-top: 30px;
  }
  
  .newsletter h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .newsletter input[type="email"] {
    background-color: white;
    width: 250px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .newsletter button {
    padding: 10px 20px;
    background-color: #5f5f5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .newsletter button:hover {
    background-color: #0056b3;
  }
  

  .inbox-container {
    display: flex;
}
.message-list {
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}
.message-list ul {
    list-style: none;
    padding: 0;
}
.message-list li {
    padding: 10px;
    cursor: pointer;
}
.message-list li:hover {
    background-color: #f0f0f0;
}
.message-detail {
    width: 70%;
    padding: 10px;
}
