* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// Main Container /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Styles par défaut */
.main-container {
    width: 100%;
    background-color: #1A1A1D;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    color: #EAEAEA;;
    padding: 0 20px; /* Padding par défaut pour les mobiles */
}

/* Tablette */
@media screen and (min-width: 768px) {
    .main-container {
        padding: 0 50px; /* Padding pour les tablettes */
    }
}

/* Desktop */
@media screen and (min-width: 992px) {
    .main-container {
        padding: 0 180px; /* Padding pour les desktops */
    }
}




/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// HEADER /////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.header {
    background-color: #0c0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px 0px;
}

header.header figure a img {
    max-height: 80px;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// HEADER MOBILE  /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.header_mobile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7f32facb;
    cursor: pointer;
    transition: 0.4s transform linear;
}

.header_mobile:hover {
    transform: rotate(10deg);
}

.header_mobile svg {
    stroke: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// MOBILE OVERLAY /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1;
}

.mobile-overlay.active {
    display: block;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// NAV MOBILE  ///////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.nav_mobile {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 300px; /* Adjusted width for better fit */
    height: 100vh; /* Full viewport height */
    background-color: #0c0c0c;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.4s transform cubic-bezier(0.43, 0.73, 0, 0.98);
}

.nav_mobile.active {
    transform: translateX(0); 
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  NAV MOBILE CLOSE /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.nav_mobile_close {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7f32facb;
    cursor: pointer;
    transition: 0.4s transform linear;
    position: absolute;
    z-index: 3;
    top: 45px;
    right: 25px;
}

.nav_mobile_close:hover {
    transform: rotate(10deg);
}

.nav_mobile_close svg {
    stroke: #fff;
    width: 20px;
    height: 20px;
    
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  NAV MOBILE PROFIL /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.nav_mobile_profil {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 5px;
    padding-top: 80px;
    color: #ffffff;
}

.nav_mobile_profil a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;

}

.nav_mobile_profil a:hover {
    text-decoration: none;
    color: #7f32fa;

}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  NAV MOBILE MENU /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.nav_mobile_menu {
    padding: 0;
    list-style: none;
    margin-top: 32px;
    margin-bottom: 32px;
}

.nav_mobile_menu li {
    position: relative;   
    margin-bottom: 24px;
}

.nav_mobile_menu li:last-of-type {
    margin-bottom: initial;
}

.nav_mobile_menu li a {
    font-family: 'Montserrat', sans-serif;
    
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    
    font-size: 18px;
    position: relative; 
}

.nav_mobile_menu li a:after {

    content: '';
    height: 2px;
    width: 0px;
    position: absolute;
    bottom: -6px;
    right: 0;
    transition: 0.3s width ease-in-out;
    background-color: #7F32FA;

}

.nav_mobile_menu li a:hover:after {
    
    width: 100%;
    left: 0;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  NAV MOBILE SOCIAL /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.nav_mobile_social {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Wraps items to prevent overflow */
}

.nav_mobile_social li {
    margin: 0px 8px;
}

.nav_mobile_social li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 12px;
    opacity: 0.6;
    text-transform: uppercase;
    font-family: "Arial";
    transition: 0.3s opacity ease-in;
}

.nav_mobile_social li a:hover {
    opacity: 1;
    color: #7F32FA;
}

/* Icon Styles */
.nav_mobile_menu a i,
.nav_mobile_social a i {
    margin-right: 10px; 
    font-size: 15px;
    color: #ffffff;
}

.nav_mobile_menu a:hover i,
.nav_mobile_social a:hover i {
    color: #7f32facb;
}

.nav_mobile_menu a:hover {
    color: #7f32facb;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  NAV BUREAU MENU /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.nav_bureau_menu li {
    margin-right: 20px;
}

.nav_bureau_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    list-style: none;
    padding: 30px;
}

.nav_bureau_menu li a {
    padding : 10px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; /* Ajout d'une transition pour le changement de couleur */
    font-family: 'Roboto', sans-serif; /* Utilisation de la police Roboto */
}



.nav_bureau_menu li a:hover {
    color: #7f32fa; /* Changement de couleur au survol */
}

/* Responsive Header */
@media screen and (max-width: 768px) {
    .bureau {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .header_mobile {
        display: none;
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  NAV BUREAU PROFIL /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

button.profil_button {
background-color: rgb(0, 165, 194);
margin-bottom: 5px;

}

.nav_bureau_profil {
    display: flex;
    justify-content: end;
}

.profil_dropdown {
    position: relative;
    display: inline-block;
}

.profil_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profil_button span {
    margin-right: 5px;
}

.profil_content {
    display: none;
    position: absolute;
    background-color: #2a2b2e;
    min-width: 140px;
    z-index: 1;
}

.profil_content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profil_content a:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(0, 165, 194);
}

.profil_dropdown:hover .profil_content {
    display: block;
}





/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  lIEN STYLE /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Link Styles */


/* Styles pour le titre */
.title {
    padding-top: 20px;
    font-size: 3vw; /* Taille de police responsive en fonction de la largeur de l'écran */
    margin-bottom: 20px; /* Espacement en bas du titre */
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////  PAGE NOS SERVICE /////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #222; /* Couleur de fond sombre */
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff; /* Couleur de titre */
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Styles pour chaque service */
.service {
    width: 300px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #333; /* Couleur de fond des services */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre légère */
    text-align: center;
}

.service h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #fff; /* Couleur de titre */
}

.service p {
    font-size: 16px;
    color: #ccc; /* Couleur de texte */
    margin-bottom: 20px;
}

.service img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Ombre légère pour les images */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff; /* Couleur de fond du bouton */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3; /* Couleur de fond au survol du bouton */
}

/* Media query pour les petits écrans */
@media screen and (max-width: 768px) {
    .service {
        width: calc(50% - 20px);
    }
}





/* Styles améliorés pour la mise en page */
body {
   
    background-color: #0c0c0c;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.join-container {
    line-height: 1.6;
}

.feature {
    margin-bottom: 30px;
}

.feature i {
    margin-right: 10px;
    color: #007bff; /* Couleur de l'icône */
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* /////////////////////////////STYLE LOGINPAGE////////////////////////////////
///////////////////////////////////////////////////////////////////// */


.loginPage {
    background-color: #222;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}

.logoContainer {
    margin-bottom: 20px; /* Espacement en bas du logo */
}

.logo {
    width: 100px; /* Taille du logo */
    height: auto; /* Hauteur automatique pour conserver les proportions */
}

form {
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 200px; /* Largeur des champs de saisie */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"],
button[name="register"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover,
button[name="register"]:hover {
    background-color: #0056b3;
}

a {
    color: #fff;
    text-decoration: none;
}

/* /////////////////////////////REGISTER PAGE ////////////////////////////////
///////////////////////////////////////////////////////////////////// */

.registerPage {
    background-color: #222;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}

.logoContainer {
    margin-bottom: 20px; /* Espacement en bas du logo */
}

.logo {
    width: 100px; /* Taille du logo */
    height: auto; /* Hauteur automatique pour conserver les proportions */
}

h1 {
    margin-bottom: 20px; /* Espacement en bas du titre */
}

form {
    margin-bottom: 20px; /* Espacement en bas du formulaire */
}

label {
    display: block; /* Affichage en bloc pour les libellés */
    margin-bottom: 5px; /* Espacement en bas des libellés */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 200px; /* Largeur des champs de saisie */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


/* /////////////////////////////NEWS PAGE ////////////////////////////////
///////////////////////////////////////////////////////////////////// */



  

.page-header {
    padding-top: 20px;
    padding-bottom: 30px;
    background: linear-gradient(180deg, #8b47f9cb, #25252934);
    color: white;
    }   

    .page-header p {
        text-align: center;
        padding-bottom: 30px;
        color: white;
        }   

.news-container {

    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.news {
    background-color: #252529;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #cfcfcf0f;
    max-width: 400px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.news:hover {
    transform: scale(1.05);
}

.title-news {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
}

.photo-news {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.text-news {
    font-size: 16px;
    line-height: 1.5;
    color: #cccccc;
    margin-bottom: 10px;
}

.date-news {
    font-size: 14px;
    color: #999999;
}



/* /////////////////////////////join US////////////////////////////////
///////////////////////////////////////////////////////////////////// */



.container.join-us {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.join-title {
    text-align: center;
    color: #7f32fa;
    margin-bottom: 20px;
}

.join-intro {
    text-align: center;
    margin-bottom: 40px;
}

.join-paragraph {
    color: #cccccc;
}

.join-subtitle {
    color: #7f32fa;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.reasons-list, .profile-list {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.reason-item, .profile-item {
    background-color: #252529;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    color: #cccccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.join-link {
    color: #7f32fa;
    text-decoration: none;
}

.join-link:hover {
    text-decoration: underline;
}



/* /////////////////////////////footer ////////////////////////////////
///////////////////////////////////////////////////////////////////// */


/* Footer */
footer {
    background-color: #1A1A1D;
    color: #EAEAEA;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-container > div {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-container h3 {
    color: #7F32FA;
    margin-bottom: 15px;
}

.footer-container p {
    margin: 5px 0;
}

.footer-container a {
    color: #39D4FF;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

.legal {
    margin-top: 20px;
}

.legal a {
    color: #7F32FA;
    text-decoration: none;
}

.legal a:hover {
    text-decoration: underline;
}




/* /////////////////////////////RESERVATIONS ////////////////////////////////
///////////////////////////////////////////////////////////////////// */



.container-reservation {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.tableau-disponibilite {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.heure-grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto; /* Permet de faire défiler horizontalement si nécessaire */
}

.colonne-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jour-de-semaine {
    font-weight: bold;
    margin-bottom: 10px;
}

.heures {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cellule-heure {
    padding: 10px;
    background-color: #747474;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cellule-heure.selectionnee {
    background-color: #3498db;
    color: #fff;
}

.cellule-heure:hover {
    background-color: #dcdcdc;
}

form {
    margin-top: 20px;
}

h2 {
    padding-bottom: 5px;
    color: white;
}

/* Style général de la liste des catégories */
.category-list {
    padding: 50px;
    text-align: center;
}

/* Conteneur pour les catégories */
.category-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* Style d'un élément de catégorie */
.category-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effet de survol */
.category-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Titre de la catégorie */
.category-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
}

/* Paragraphe descriptif */
.category-item p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
}





/* Style général */
.planning-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .planning-date {
    margin-bottom: 20px;
  }
  
  .planning-date h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .planning-date ul {
    list-style: none;
    padding: 0;
  }
  
  .planning-item {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .planning-item span {
    flex: 1;
  }
  
  .planning-item span:first-child {
    margin-right: 10px;
  }
  


     /* Style pour les cases à cocher */
     .form-check-input.date-checkbox,
     .form-check-input.heure-checkbox {
         display: none; /* Masquer les cases à cocher */
     }
 
     /* Style pour les étiquettes associées */
     .form-check-label.date-label,
     .form-check-label.heure-label {
         display: block;
         cursor: pointer;
         padding: 10px;
         margin-bottom: 5px;
         border: 1px solid #ccc;
         border-radius: 5px;
         background-color: #fff;
         color: #000; /* Couleur du texte noir */
         text-align: center; /* Centrage du texte */
     }
 
     /* Changement de couleur au survol */
     .form-check-label.date-label:hover,
     .form-check-label.heure-label:hover {
         background-color: #f0f0f0;
     }
 
     /* Style pour les étiquettes associées sélectionnées */
     .form-check-input.date-checkbox:checked + .form-check-label.date-label,
     .form-check-input.heure-checkbox:checked + .form-check-label.heure-label {
         background-color: #007bff;
         color: #fff;
     }

     
     form-check-label.date-label {
        width: 150px; /* Largeur fixe pour toutes les étiquettes de date */
        height: 40px; /* Hauteur fixe pour toutes les étiquettes de date */
        line-height: 40px; /* Ajuster la hauteur de ligne pour centrer le texte verticalement */
        text-align: center; /* Centrage du texte horizontalement */
        overflow: hidden; /* Masquer le texte qui dépasse */
        white-space: nowrap; /* Empêcher le texte de passer à la ligne */
        text-overflow: ellipsis; /* Afficher des points de suspension (...) si le texte dépasse */
    }

    .table td,th {
        color: white;
    }



    .inbox-container {
        display: flex;
    }
    .message-list {
        width: 30%;
        border-right: 1px solid #ccc;
        padding: 10px;
        overflow-y: auto;
    }
    .message-list ul {
        list-style: none;
        padding: 0;
    }
    .message-list li {
        padding: 10px;
        cursor: pointer;
    }
    .message-list li:hover {
        background-color: #f0f0f0;
    }
    .message-detail {
        width: 70%;
        padding: 10px;
    }
